.highlight-row {
    background-color: rgb(212, 93, 93)!important; /* You can choose any background color */
}
.highlight-row-equal {
    background-color: rgb(209, 209, 138) !important; /* Background color for age equal to expected life */
}
.highlight-row-less {
    background-color: rgb(159, 243, 159) !important; /* Background color for age equal to expected life */
}
.highlight-non{
    background-color: gray;
}