

<div class="row top-buffer">

    <div class="col-6">
        <div class="card">
            <div class="card-header ">
                <h4 class="card-title"> {{ 'UPA.Governorates' | translate }} </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p-listbox *ngIf="lang =='en'" [options]="lstGovernorates" [(ngModel)]="selectedGovId" [filter]="true"
                            optionLabel="name" optionValue="id" [listStyle]="{ 'max-height': '295px' }">
                            <ng-template let-gov pTemplate="item">
                                <div class="flex align-items-center gap-2" (click)="filterCitiesByGovernorateId(gov.id)">
                                    <img [src]="gov.logo != null ?imgGovURL+gov.logo:imgNullOrgURL" width="40" height="40" />
                                    {{gov.code}} - {{lang =='en' ? gov.name:gov.nameAr}}
                                </div>
                                <span class="example-spacer"></span>
        
                                <span (click)="editGovernorate(gov.id)" *ngIf="isSuperAdmin"
                                    pTooltip="{{'UPA.Edit' | translate}}" tooltipPosition="top"><i
                                        class="fas fa-edit"></i></span>
                                <span (click)="deleteGovernorate(gov.id)" *ngIf="isSuperAdmin"
                                    pTooltip="{{'UPA.Delete' | translate}}" tooltipPosition="top">
                                    <i class="far fa-trash-alt"></i></span>
                            </ng-template>
                        </p-listbox>
                        <p-listbox *ngIf="lang =='ar'" [options]="lstGovernorates" [(ngModel)]="selectedGovId" [filter]="true"
                            optionLabel="nameAr" optionValue="id" [listStyle]="{ 'max-height': '295px' }">
                            <ng-template let-gov pTemplate="item">
                                <div class="flex align-items-center gap-2" (click)="filterCitiesByGovernorateId(gov.id)">
                                    <img [src]="gov.logo != null ?imgGovURL+gov.logo:imgNullOrgURL" width="40" height="40"
                                        style="border-radius: 100%;" />
                                    {{gov.code}} - {{lang =='en' ? gov.name:gov.nameAr}}
                                </div>
                                <span class="example-spacer"></span>
        
                                <span (click)="editGovernorate(gov.id)" *ngIf="isSuperAdmin"
                                    pTooltip="{{'UPA.Edit' | translate}}" tooltipPosition="top"><i
                                        class="fas fa-edit"></i></span>
        
                                <span (click)="deleteGovernorate(gov.id)" *ngIf="isSuperAdmin"
                                    pTooltip="{{'UPA.Delete' | translate}}" tooltipPosition="top">
                                    <i class="far fa-trash-alt"></i></span>
                            </ng-template>
                        </p-listbox>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> {{ 'UPA.Cities' | translate }} </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p-listbox *ngIf="lang =='en'" [options]="lstCities" [filter]="true" optionLabel="name" optionValue="id"
                            [listStyle]="{ 'max-height': '295px' }">
                            <ng-template let-city pTemplate="item">
                                <div> {{city.code}} - {{lang =='en' ? city.name:city.nameAr}}</div>
                                <span class="example-spacer"></span>
                                <span (click)="editCity(city.id)" *ngIf="isSuperAdmin" pTooltip="{{'UPA.Edit' | translate}}"
                                    tooltipPosition="top"> <i class="fas fa-edit"></i></span>
                                <span (click)="deleteCity(city.id)" *ngIf="isSuperAdmin" pTooltip="{{'UPA.Delete' | translate}}"
                                    tooltipPosition="top">
                                    <i class="far fa-trash-alt"></i>
                                </span>
                            </ng-template>
                        </p-listbox>
                        <p-listbox *ngIf="lang =='ar'" [options]="lstCities" [filter]="true" optionLabel="nameAr"
                            optionValue="id" [listStyle]="{ 'max-height': '295px' }">
                            <ng-template let-city pTemplate="item">
                                <div> {{city.code}} - {{lang =='en' ? city.name:city.nameAr}} </div>
                                <span class="example-spacer"></span>
                                <span (click)="editCity(city.id)" *ngIf="isSuperAdmin" pTooltip="{{'UPA.Edit' | translate}}"
                                    tooltipPosition="top">
                                    <i class="fas fa-edit"></i></span>
                                <span (click)="deleteCity(city.id)" *ngIf="isSuperAdmin" pTooltip="{{'UPA.Delete' | translate}}"
                                    tooltipPosition="top">
                                    <i class="far fa-trash-alt"></i>
                                </span>
                            </ng-template>
                        </p-listbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<p-dialog appendTo="body" modal="true" [(visible)]="display" [style]="{width: '350px'}">
    <ng-template pTemplate="header">
        <h6 style="color: #04527e;font-weight: bold;font-size: 16pt;">{{ 'UPA.Save' | translate }}
        </h6>
    </ng-template>
    <span style="color: green;font-weight: bold;font-size: 12pt;text-align: center;"> {{ 'UPA.SavedSuccess' |
        translate
        }}</span>
</p-dialog>
<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{width: '350px'}">
    <p-header style="color: rgb(181, 4, 4);"> {{ 'UPA.Error' | translate }} </p-header>
    <span style="color: rgb(181, 4, 4);font-weight: bold;"> {{errorMessage}}</span>
</p-dialog>