tbody td {

 width: 100px !important;
  }
  table {
    display: block !important;
    overflow-y: scroll !important;
    height: 400px !important;
    white-space: nowrap !important;
}
th {
  background: #fff !important;
  color: #11375E !important;
 }