// #chart .apexcharts-xaxis-label {
//     transform: rotate(-45deg);
//     transform-origin: center;
//     white-space: nowrap;
//   }
.piIcon{
color: orangered;
}
.piIcon:hover{
color: rgb(109, 31, 2);
}

.colIcon{
    color: rgb(57, 221, 24);
}
.colIcon:hover{
    color:rgb(32, 122, 14) ;
}